################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Athena/IOCMaker/bin/Debug/Athena.exe
/src/Athena/IOCMaker/bin/Debug
/src/Athena/IOCMaker/bin/Debug
